script(src='https://cdn.jsdelivr.net/npm/vega@5.4.0')
script(src='https://cdn.jsdelivr.net/npm/vega-lite@2.7.0')
script(src='https://cdn.jsdelivr.net/npm/vega-embed@4.2.1')
#vis
script(type='text/javascript').
  vegaEmbed('#vis', !{vegaliteSpec}, {'renderer': 'svg'});
